# Table of Content

1. Importing libraries and datasets
2. Check shape of imported dataframes
3. Merging datasets
4. Export merged dataset

# Importing libraries and datasets

In [4]:
# Import libraries

import pandas as pd
import numpy as np
import os
import pickle

In [5]:
# Define path

path = r'/Users/frederikeschulz-mullensiefen/Desktop/Master Folder_Instacart/02_Data'

In [6]:
# Import products dataframe
df_products = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_checked.csv'), index_col = False)

In [7]:
# Import orders_products_combined dataframe
df_orders_products = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

# Check shape of imported dataframes

In [8]:
# Check shape of first dataframe
df_orders_products.shape

(32434489, 9)

In [9]:
# Check shape of second dataframe
df_products.shape

(49672, 5)

Shape of imported dataframes matches dataframes before export.

# Merging df_orders_products and df_products

In [10]:
# Checking columns to identify common key
df_orders_products.head()

,order_id,user_id,order_number,orders_day_of_week,ordertime_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [11]:
# Checking columns to identify common key
df_products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

The 'product_id' is a common key that can be used for merging the dataframes together.

In [12]:
# Create full merge for checking match between datasets
df_fullmerge = df_orders_products.merge(df_products, on ='product_id', how ='outer', indicator = True)

In [13]:
# Checking match between datasets
df_fullmerge['_merge'].value_counts()

_merge
both          32404859
left_only        30200
right_only          11
Name: count, dtype: int64

There is no full match between the datasets. However, for this analysis we are only interested in full matches, as we need to have orders and products connected to analyze the performance.

In [16]:
# Create inner merge for checking match between datasets
df_merged = df_orders_products.merge(df_products, on ='product_id', indicator = True)

In [17]:
# Checking match between datasets
df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [18]:
# Create merged dataset without indicator flag for export
df_merged_final = df_orders_products.merge(df_products, on ='product_id')

In [19]:
# Check dataframe shape
df_merged_final.shape

(32404859, 13)

# Export merged dataset

In [21]:
df_merged_final.to_pickle(os.path.join(path,'Prepared Data', 'ords_prods_merge.pkl'))