# Table of Content

1. Importing libraries and datasets
2. Dataframe Checks
3. Consistency checks orders_prior dataset
4. Merging Datasets
5. Exporting dataset

# Importing libraries and datasets

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
# Define path

path = r'/Users/frederikeschulz-mullensiefen/Desktop/Master Folder_Instacart/02_Data'

In [4]:
# Import orders dataframe
df_orders = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [5]:
# Import orders_products_prior dataframe
df_orders_prior = pd.read_csv(os.path.join(path, 'Original Data', 'orders_products_prior.csv'), index_col = False)

# Dataframe Checks

In [6]:
# Orders_prior Dataframe check first 5 rows
df_orders_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
# Orders Dataframe check first 5 rows
df_orders.head()

,order_id,user_id,order_number,orders_day_of_week,ordertime_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [8]:
# Orders_prior Dataframe check shape
df_orders_prior.shape

(32434489, 4)

In [9]:
# Orders Dataframe check first shape
df_orders.shape

(3421083, 6)

# Consistency Checks orders_prior dataframe

In [10]:
# Descriptive Statistics
df_orders_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [11]:
# Finding missing data 
df_orders_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [12]:
# Finding duplicates
df_dups = df_orders_prior[df_orders_prior.duplicated()]

In [13]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

There are no missing values and no duplicates in the df_orders_prior dataframe.

# Merging Datasets

In [14]:
# Merging dataframes with order_id key
df_merged_large = df_orders.merge(df_orders_prior, on = 'order_id', indicator = True)

In [15]:
# Displaying five first rows of merged dataframe
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,ordertime_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [16]:
# Counting _merge cases
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [17]:
# Creating outer merge dataframe to check match rate
df_fullmerge = df_orders.merge(df_orders_prior, on = 'order_id', how = 'outer', indicator = True)

In [18]:
# Counting merge cases
df_fullmerge['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [24]:
# Creating merge dataframe without match indicator for export 
df_merged_large = df_orders.merge(df_orders_prior, on = 'order_id')

In [25]:
# Checking merged dataframe shape
df_merged_large.shape

(32434489, 9)

In [29]:
df_fullmerge.shape

(32640698, 10)

# Exporting merged dataframe

In [28]:
# Exporting dataframe to pickle file
df_merged_large.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_combined.pkl'))